.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-box{
    display: flex;
  }
  .modal-details{
    text-align: left;
    
  }
  .modal-details h2{
    text-decoration: underline;
  }
  
  .modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }
  
  .modal-details {
    flex: 1;
    padding-right: 20px;
  }
  
  .modal-details h3 {
    margin: 0 0 10px 0;
  }
  
  .modal-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  